table, th, td { border-collapse: collapse; border:1px solid violet;  }

div li {font-weight: bold; color:darkblue} /*자손결합자 선택자1 공백 선택자2*/
p > em { font-size:15px; color:blanchedalmond; font-weight: bold;} /*자식결합자 선택자1 > 선택자2*/
h1 + p { background-color: cadetblue;} /*인접형제결합자 선택자1 + 선택자2*/
li.style1 ~ li { background-color: cornflowerblue;} /*일반형제결합자: 선택자1 ~ 선택자2*/
h1,p {font-style: italic; font-family: cursive;} /*그룹결합자: 선택자1, 선택자2*/


p { font-size:14px; line-height: 200%;}
p.line::first-line { color: blue; font-weight: 600;} /*특정요소의 문단 첫번째줄 텍스트 선택*/
p.line::first-letter { color: rebeccapurple; font-size: 20px;} /*첫번째 줄의 첫번째 글자 선택*/
p.note::before { content: "NOTE:   "; border: 1px solid green } /*요소의 맨 앞에 추가되는 내용과 스타일 지정*/
p.note::after { content: "- Remember this   "; background-color: yellowgreen; color: red; } /*요소의 맨 뒤에 추가되는 내용과 스타일 지정*/