* {
    margin: 0;
    padding: 0;
  }

img {
    display:inline-block;
}

.container {
    border: 1px solid #1DB99A;;
    display: block;
    margin-bottom: 2%;
}

 .no-margine {
    margin-bottom: 0;

}


li {
    list-style: none;
}

h2 {
    background-color: #1DB99A;
    color: #fff;
    margin-bottom: 10px;
}

.box {
    position: fixed;
    background-color: #1DB99A;
    border: 1px solid #fff;
    box-shadow: 0px 0px 15px #aaa;
    width: 64px;
    height: 64px;
    right: 50px;
    bottom:50px;
    border-radius: 50%;
    color: #fff;
    line-height: 60px;
    text-align: center;
}

.no-underline {
    text-decoration-line: none;
}