/*========== * 전체 universal 선택자 */
* { color: rgb(70, 70, 70); font-size: 16px; }

/*========== 타입 선택자 -> 스타일을 적용할 HTML 요소의 이름을 직접 사용 */
table, th, td { border-collapse: collapse; border: 1px solid tomato; }

ul { color: red; font-style: italic;}

/*========== 몇개의 요소를 하나의 클래스로 묶어서 스타일 지정 */
/* 같은 요소에 서로 다른 스타일을 적용하는 경우 */
p.class1 { font-size: 20pt; color: red; }
p.class2 { font-size: 20pt; color: blue; }
p.class3 { font-size: 20pt; color: green; }
/* 서로다른 요소에 서로 다른 스타일을 적용하는 경우 */
.header { font-size: 20pt; }
.class1 { font-style:italic; color:red; }

/*========== 아이디 선택자 : 클래스 선택자와 유사한 사용방법 . 대신 # */
#style1 { font-size: 15pt; color: blue; }
p#style2 { font-size: 20pt; color: red; }

/*========== 속성 선택자1 */
input[type] { font-size: 20px; color: tomato;}
input[type="text"] {background-color: wheat;}
input[type="password"] { background-color: yellowgreen;}
/*========== 속성 선택자1 */
a { font-weight: bold; font-size: 20px;}
a[title] { color: #222;}
a[title="daum"] { color:red }
a[title~="cyworld"] { color:orangered } /*속성값을 공백으로 구분한 요소를 선택*/
a[title|="google"] { color:orange } /*속성값이 정확히 일치 or 값으로 시작하고 바로뒤에 - 기호로 구분한 요소 선택*/
a[title^="face"] { color:greenyellow } /*속성값의 시작부분의 문자와 일치하는 요소를 선택 */
a[title$="ter"] { color:skyblue } /*속성값의 끝 부분의 문자와 일치하는 요소를 선택*/
a[title*="utu"] { color:purple } /*속성값 전체 중 어떤 일부분이라도 일치하는 요소를 선택*/

/*========== 의사클래스_사용자동작 */
input:hover { background-color: green;} /*사용자가 포인팅 장치로 특정요소를 지정하는 동안 적용*/
input:focus { background-color: indianred;} /*요소가 포커스를 가지고 있는 동안에 적용*/
label:active { font-size: 20px; color: rebeccapurple;} /*사용자에 의해 요소가 활성화되는 동안 적용*/

/*========== 의사클래스_링크 */
div a:link { color: green;}
div a:visited { color: skyblue;}
div a:hover { color: teal; font-size: 20px;}
div a:active { background-color: yellowgreen;}


