* {
  margin: 0;
  padding: 0;
}


blockquote:before{ 
  color:#33a8e5; 
  content:'“'; 
  font-size: 4em; 
  line-height: 0.1em; 
  margin-right: 0.25em; 
  vertical-align: -0.4em;
}
blockquote p { display: inline; }

address { /* font-style: normal; */ }

.list { 
  list-style-type: none; 
  list-style:none;
}
.image{ 
  width: 300px;
  /* height: 150px; */
  object-fit: cover; 
}
.color1 { 
  background-color: lightgreen 
}
.color2 { 
  height: 50px; 
  background-color: yellow 
}

